@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400&display=swap');

.progreso_barras {
    justify-content: center;

    background: #fff;

    height: 100vh;
    padding: 0;
    margin: 0;
  }

.progress {
    background: rgba(55, 55, 55, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 10px;
    width: 200px;
    margin:3em;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #000;
    height: 30px;
    width: 0;

  }

  .progress_html {
    background: rgba(55, 55, 55, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 10px;
    width: 200px;
    margin:3em;
  }
  
  .progress-value_html {
    animation: load1 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #000;
    height: 30px;
    width: 0;
  }

  .progress_phyton {
    background: rgba(55, 55, 55, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 10px;
    width: 200px;
    margin:3em;
  }
  
  .progress-value_phyton {
    animation: load2 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #000;
    height: 30px;
    width: 0;
  }
  
  
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 81%; }
  }

  @keyframes load1 {
    0% { width: 0; }
    100% { width: 17%; }
  }

  @keyframes load2 {
    0% { width: 0; }
    100% { width: 57%; }
  }
 